@model List<OrganizeViewModel>
@{
    ViewData["Title"] = "Request Organizer Task";
}

<div class="container">
    <div class="row">
        <div class="accordion" id="accordionExample">
            @for (var i = 0; i < @Model.Count; i++)
            {
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       
                        <div >
                             <h5>Reqests for: @Model[i].DayOfOrder.ToString("dd.MM.yyyy")</h5>
                            <span >Total income for the day: @Model[i].TottalPrice$</span>
                        </div>                         
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">Product name</th>
                                    <th scope="col">Product count</th>
                                    <th scope="col">Product price</th>
                                    <th scope="col">Total product income</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var num = 1;
                                }

                                @foreach (var item in @Model[i].Items)
                                {
                                    <tr>
                                        <th scope="row">@(num++)</th>
                                        <td>@item.Key</td>

                                        @foreach (var nestedItems in @item.Value)
                                        {
                                            <td>@nestedItems.Value</td>
                                            <td>@nestedItems.Key$</td>                                            
                                            <td>@(nestedItems.Key * nestedItems.Value)$</td>
                                        }                                        
                                    </tr>                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

