@model List<OrganizeViewModel>
@{
    ViewData["Title"] = "Request Organizer Task";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-3 col-lg-8 offset-xl-3 col-xl-6 col" style="margin-top: 20px">
            <h2 class="heading text-center">Welcome to administration section</h2>
            <p class="fw-bold text-center">Here you can check you income for period of time and product for baking for 5 days a had.</p>
            <form method="Post" id="antiForgaryToken">
                <div style="margin-bottom: 20px" class="input-group">
                    <span class="input-group-text">Date: From - To</span>
                    <input id="from-value" class="form-control" placeholder="From: dd.MM.yyyy">
                    <input id="to-value" class="form-control" placeholder="To: dd.MM.yyyy">
                    <a onclick="GetDates(event)" class="form-control btn btn-outline-secondary">Submit</a>
                </div>
                <p class="fw-bold text-center">Income for the period is: <span id="totallProfit"></span></p>
            </form>
        </div>
        <div class="accordion" id="accordionExample">
            @for (var i = 0; i < @Model.Count; i++)
            {
                var heading = "heading" + @Model[i].ColapsValue;
                var collapse = "collapse" + @Model[i].ColapsValue;

                <div class="accordion-item">
                    <h2 class="accordion-header" id="@heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse" aria-expanded="true" aria-controls="@collapse">

                            <div>
                                <h5>Reqests for: @Model[i].DayOfOrder.ToString("dd.MM.yyyy")</h5>
                                <span>Total income for the day: @Model[i].TottalPrice$</span>
                            </div>
                        </button>
                    </h2>
                    <div id="@collapse" class="accordion-collapse collapse show" aria-labelledby="@heading" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Number</th>
                                        <th scope="col">Product name</th>
                                        <th scope="col">Product count</th>
                                        <th scope="col">Product price</th>
                                        <th scope="col">Total product income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var num = 1;
                                    }

                                    @foreach (var item in @Model[i].Items)
                                    {
                                        <tr>
                                            <th scope="row">@(num++)</th>
                                            <td>@item.Key</td>

                                            @foreach (var nestedItems in @item.Value)
                                            {
                                                <td>@nestedItems.Value</td>
                                                <td>@nestedItems.Key$</td>
                                                <td>@(nestedItems.Key * nestedItems.Value)$</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
<script>
                function GetDates(e) {

                e.preventDefault();

                var valueFrom = document.getElementById('from-value').value;

                var valueTo = document.getElementById('to-value').value;

                var token = $('#antiForgaryToken input[Name=__RequestVerificationToken]').val();

                var dataTag = document.getElementById('totallProfit');

                model = {ValueFrom: valueFrom, ValueTo: valueTo }

                  $.ajax({
                    type: "POST",
                    url: "/Task/api/Profit",
                    data: JSON.stringify(model),
                    headers:{
                        'X-ANTIF-TOKEN': token
                    },
                    success: function (data) {
                        
                        if(data.length > 15){                            
                            $(dataTag).css("color", "red");
                        }
                        $('#totallProfit').html(data); 
                    },
                    contentType: 'application/json'
                  });                 
            }
</script>
}



