@model IEnumerable<EditItemsFormModel>
@{
    ViewData["Title"] = "Edit Item";
}

<div class="container">
    <dic class="row">
        <div class="col-6">
            <h2>Edit order</h2>
            <form method="post">
                <ul class="list-group">

                    @foreach (var item in @Model)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="btn-group-vertical rounded-pill">
                           
                            <h4>@item.Name</h4>
                            <label asp-for="@item.Quantity"></label>
                            <input asp-for="@item.Quantity" class="form-control">
                        </div>
                        <div class="btn-group-vertical">
                            <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" asp-route-quantity="@item.Quantity" class="btn btn-secondary" style="margin-bottom: 20px; margin-top: 30px;">Edit</a>
                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                    }                    
                </ul>
            </form>
        </div>
    </dic>
</div>