@model IEnumerable<EditItemsFormModel>
@{
    ViewData["Title"] = "Edit Item";
}

<div class="container">
    <dic class="row">
        <div class="col-6">
            <h2>Edit order</h2>
            <form method="post">
                <ul class="list-group">

                    @{
                        var num = 0;
                    }
                    @foreach (var item in @Model)
                    {                       
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="btn-group-vertical rounded-pill">

                                <h4>@item.Name</h4>
                                <label asp-for="@item.Quantity" ></label>
                                <input asp-for="@item.Quantity" id="value-tag" name="num" class="form-control ">
                            </div>
                            <div class="btn-group-vertical">
                                <a asp-route-id="@item.Id" id="id-tag" onclick="ChangeQuantity(event, @item.Id, @num)" class="btn btn-secondary" style="margin-bottom: 20px; margin-top: 30px;">Edit</a>
                                <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </li>

                        num += 1;
                    }
                </ul>
            </form>
        </div>
    </dic>
</div>

@section Scripts {
<script>
            function ChangeQuantity(e, itemId, num) {
            e.preventDefault();
            var quantityData = document.querySelectorAll("#value-tag")[num].value;            
                
            const quantity = Number(quantityData);

            let model = {itemId: itemId, quantity: quantity};   
          
              $.ajax({
                type: "POST",
                url: "Task/api/EditItem",
                data: JSON.stringify(model),
                success: function (data) {
                   location.href = "/Order/Buy"; 
                },
                contentType: 'application/json'
              });            
        }
</script>
}