@model IEnumerable<AllProductViewModel>
@using static Bakery.Infrastructure.ClaimsPrincipalExtensions

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src=@item.ImageUrl class="card-img-top embed-responsive-item" style="width: 100%; height: 15vw;object-fit: cover;" alt="">
            <div class="card-body">
                <h4 class="card-title">@item.Name - @item.Price $</h4>
                <p class="card-text">@item.Description.Substring(0, 40)...</p>
                <div style="">
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View more</a>
                @if (this.User.IsAdmin())
                {
                    <a asp-controller="Bakery" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Bakery" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
                </div>
                
            </div>
        </div>
    }
</div>


