@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Approve Employee Buy";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Age</th>
            <th scope="col">Experience</th>
            <th scope="col">Email address</th>
            <th scope="col">Phone number</th>            
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applied in Model)
        {
            <tr>
                <td scope="col">@applied.FullName</td>
                <td scope="col">@applied.Age</td>
                <td scope="col">@applied.Experience</td>
                <td scope="col">@applied.Email</td>
                <td scope="col">@applied.Phone</td>
                <td scope="col">
                    <a asp-area="Job" asp-controller="Employee" asp-action="Info" asp-route-id="@applied.Id" class="btn btn-info">Info</a>
                    <a asp-area="Job" asp-controller="Employee" asp-action="Add" asp-route-id="@applied.Id" class="btn btn-success">Approve</a>
                    <a asp-area="Job" asp-controller="Employee" asp-action="Reject" asp-route-id="@applied.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

